@import url("reset.css");

main{
    max-width: 620px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    padding-top: 109px;
    height: 92px;
}

input{
    padding: 10px;
}

body{
    display: flex;
    flex-direction: column;
}

ul{
    margin-top: 15px;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 13px;
    width: 98%;
    position: fixed;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(2, 60px) 1fr repeat(4, 60px);
    align-items: center;
    justify-items: center;
}

#searchBar{
    border-radius: 30px;
    border: 1px solid rgb(197, 194, 194);
    height: 44px;
    width: 582px;
    margin-top: 32px;
    box-sizing: border-box;
    font-size: 16px;
}
